
/*
blue: #212844;
red: #C22032;
gray: #F3F3F3;
*/




body{
  background-image: url("img/usa-flag.jpg");
  background-attachment: fixed;
  background-size: cover;
  max-width: auto;
}

div.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main  aside"
    "footer footer";

 margin-left: auto;
 margin-right: auto;
 max-width: 800px;
}

header{
  grid-area: header;
  text-align: center;
  color:  #212844;
  font-family: 'Italianno', cursive;
  font-size: 30px;
  text-shadow: 2px 2px 4px #C22032;
  padding-right: 10px;
  margin-right: 5px;
}


img{
  position: left top;
  margin-top: 38px;
  margin-right: 8px;
    max-width: 100%;
}

main{
  grid-area: main;
  color: #212844;
  font-size: 18px;
  font-family: 'Vollkorn SC', serif;
}


p{
   line-height: 1.8;
   color: #212844;
}

p2{
   line-height: 1.8;
}
img.left {
    border-radius: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
      max-width: 100%;
}

aside{
   grid-area: aside;
   color: #212844;
   font-size: 30px;
   font-family: 'Parisienne', cursive;
}

/* visited link */
a:visited {
    color: #C22032;
}

/* mouse over link */
a:hover {
    color: #212844;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 16px;
    paddin-right: 15px;
    max-width: 100%;
}

ul{
  text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px #C22032;
    border-style: outset;
    width: 100%;
}

td, th {
    border: 2px #C22032;
    border-style: outset;
    text-align: left;
    padding: 10px;
    font-family: 'Vollkorn SC', serif;
}

th {
    background-color: ;
    color: #212844;
    font-family: 'Slabo 37px', serif;
}

body {
  font-family: sans-serif;
}


caption {
  color: #212844;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
  margin-top: 10px;
}

thead {
    background-color: ;
}

tbody {
  font-family: 'Slabo 37px', serif;
}

tr {

}

th {
  background-color: ;
  color: #000000;
}

    @media (max-width: 600px) {
      table {
        width: 100%;
      }

      thead {
        display: none;
      }

      tr {
        border: 1px solid #aaaaaa;
        display: block;
        margin-top: 7px;
        margin-bottom: 7px;
      }

      td {
        display: block;
        text-align: right;
      }

      td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
      }
    }


footer{
   background-color: ;
   grid-area: footer;
   text-align: left;
   font-size: 32px;
   padding-right: 30px;
   padding-top: 20px;
}

@media (max-width: 600px) {
  div.container {
     grid-template-columns: 1fr;
     grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
   }

}
